/* BODY START */
.nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #4281a4;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.paragraph {
    display: flex;
    margin: 0% !important;
    width: 1147px;
    height: 40px;
    align-items: center;
    font-size: xx-large;
}
.full-width {
    /* background-color: #ca3969; */
    width: 100% !important;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.page {
    margin-left: 50px;
    margin-right: 50px;
}
.margin-top-bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-margin {
    /* margin-right: 410px; */
    margin-left: 50px;
    font-size: x-large;
}
.items-margin {
    /* margin-right: 310px; */
    margin-left: 370px;
    font-size: x-large;
}
.page-row {
    display: flex;
    justify-content: start;
}
/* .color {
    background-color: ;
} */
.row-direction {
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.row-reverse {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}
.column-direction {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 100%;
}
.column {
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.column-reverse {
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* justify-content */
.justify-content-start {
    display: flex;
    justify-content: flex-start;
}
.justify-content-end {
    display: flex;
    justify-content: flex-end;
}
.justify-content-center {
    display: flex;
    justify-content: center;
}
.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}
.justify-content-space-around {
    display: flex;
    justify-content: space-around;
}
.justify-content-space-evenly {
    display: flex;
    justify-content: space-evenly;
}



/* Align-content */
.flex-start {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}
.flex-end {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    
}
.center {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}
.stretch {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    
}
.space-between {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}
.space-around {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    
}


/* Align-items */
.align-items-flex-start {
    display: flex;
    align-items: flex-start;
}
.align-items-flex-end {
    display: flex;
    align-items: flex-end;
}
.align-items-center {
    display: flex;
    align-items: center;
}
.align-items-stretch {
    display: flex;
    align-items: stretch;
}
.align-items-baseline {
    display: flex;
    align-items: baseline;
}



/* Align-self */
.self-start {
    display: flex;
    align-self: flex-start;
}
.self-end {
    display: flex;
    align-self: flex-end;
}
.self-center {
    display: flex;
    align-self: center;
}
.self-stretch {
    display: flex;
    align-self: stretch;
    height: auto;
}
















.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* BODY ENDS */




































/* CONTAINERS START */
.container-head {
    display: flex;
    align-items: center;
    width: 360px;
    height: 70px;
    background-color: blueviolet;
    margin: 50px 50px 50px 50px;
    border-radius: 5px;
}

.container-flex-direction {
    width: 100%;
    height: 400px;
    background-color: #48a9a6;
    border-radius: 5px;
}

.container-flex-wrap {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #8a2be2;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    flex-wrap: wrap;
}

.container-justifycontent-order-flex-shrink-grow-basis {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: blueviolet;
    margin: 50px 0px 50px 0px;
    border-radius: 5px;
}


.container-align-content-items-self {
    display: flex;
    width: 1147px !important;
    height: 500px;
    background-color: #8a2be2;
    border-radius: 5px;
}


.container-order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 500px;
    background-color: blueviolet;
    margin: 50px 50px 50px 50px;
    border-radius: 5px;
}
.container-common {
    display: flex;
    width: 1147px;
    background-color: blueviolet;
    margin: 50px 50px 50px 50px;
    border-radius: 5px;
}
/* CONTAINERS ENDS */




































/* ITEMS START */
.items-common {
    background-color: orange;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}
.items {
    width: 100px;
    height: 60px;
}


/* Container-head , items flex-direction items*/
.items {
    width: 100px;
    height: 60px;
}
/* Ends */



/* Flex-wrap items */
.items {
    width: 100px;
    height: 60px;
}
.items-150 {
    width: 150px;
    height: 60px;
}
.items-200 {
    width: 200px;
    height: 60px;
}
/* Ends */



/* Justify-content items */
.items {
    width: 100px;
    height: 60px;
}
/* Ends */



/* Align-content items */
.items-w-400 {
    width: 400px;
    height: 60px;
}
.items-w-287 {
    width: 287px;
    height: 60px;
}
.items-w-230 {
    width: 230px;
    height: 60px;
}
.items-w-200 {
    width: 200px;
    height: 60px;
}
.align-content-stretch {
    height: auto;
}
/* Ends */



/* Align-items items */
.items-h-300 {
    width: 266px;
    height: 300px;
}
.items-h-200 {
    width: 266px;
    height: 200px;
}
.items-h-100 {
    width: 266px;
    height: 100px;
}
.align-stretch {
    width: 266px;
    height: auto;
}

/* Ends */



/* Order items */
.items-one {
    width: 100px;
    height: 60px;
    order: 1;
}
.items-two {
    width: 200px;
    height: 60px;
    order: 2;
}
.items-three {
    width: 50px;
    height: 60px;
    order: 3;
}
.items-minus {
    width: 200px;
    height: 60px;
    order: -1;
}
.items-order {
    display: inline-block;
    width: 340px;
    height: 100px;
}
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}
.two {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}
.nintynine {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 99;
}
/* Ends */




/* Flex-shrink, Flex-grow, Flex-basis */
/* items shrink */
.items-shrink {
    width: 500px;
    height: 60px;
    flex-shrink: 1 !important;
}


.items-grow-one {
    width: auto;
    height: 60px;
    flex-grow: 1;
}
.items-grow {
    width: auto;
    height: 60px;
    flex-grow: 2;
}


.items-basis {
    width: 100px;
    height: 60px;
}
.items-basis-400 {
    width: auto;
    height: 60px;
    flex-basis: 400px;
}
/* Ends */



/* Align-self items */
.items-align-self {
    width: 266px;
    height: 200px;
}
.items-align-self-stretch {
    width: 266px;
    height: auto;
}
/* Ends */



/*  */











/* ITEMS ENDS */


